{% extends 'base.html' %}
{% block menu %}
    {% if user.is_authenticated %}
    <a href="{% url 'tracker_delete' tracker.pk %}">
        <button type="button" class="btn btn-warning" style="margin-left: 10px">Удалить</button>
    </a>
    <a href="{% url 'tracker_update' tracker.pk %}">
        <button type="button" style="margin-left: 10px" class="btn btn-warning">Редактировать</button>
    </a>
    {% endif %}
{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">{{ tracker.summary }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ tracker.description }}</p>
        <p class="lead mb-4">{% for status in tracker.status.all %} {{ status.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <p class="lead mb-4">{% for type in tracker.type.all %} {{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{% url 'index' %}"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Вернуться назад</button></a>
      </div>
    </div>
  </div>
{% endblock %}